@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Kaushan+Script|Pacifico|Open+Sans+Condensed:300&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
  /*  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.logo{
  font-family: 'Kaushan Script', cursive;
  font-size: 3vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a.navbar-brand{
  color: #3a47a1!important;
  font-size: 2vw;
}

button.btn-outline-primary {
  color: #3a47a1;
  border: 2px solid #3a47a1;
  border-radius: 20px;
}

#footer {
  font-size: 1.25em;
}

.text-block .row {
  padding: 0.5em 0;
}

.text-block h1 {
  font-size: 3.5em;
}

.text-block h2 {
  font-size: 2.5em;
}

.text-block h3 {
  font-size: 1.5em;
  padding: 0.8em 0;
}

.text-block h4 {
  font-size: 1.3rem;
}

.text-block p {
  font-size: 1.2rem;
}
